<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="MonitorEmails">
      <section name="Monitor" type="SICommon.rptEmailConf,SICommon" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="MonitorExceptions" type="SICommon.rptEmailConf,SICommon" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Support" type="SICommon.rptEmailConf,SICommon" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="SendEmail" value="True"/>
    <add key="CheckInterval" value="10"/>
    <add key="IntervalUnit" value="m"/>
    <add key="SendRunTimeParmsEmail" value="true"/>
    <add key="SendSupportEmails" value="true"/>
    <add key="LogTimerEvent" value="true"/>
    <add key="SendTimerTickEmail" value="false"/>
    <add key="TimerTickWriteInterval" value="720"/>
    <add key="updateHour" value="23"/>
    <add key="updateMinute" value="01"/>
    <add key="checkChecksHour" value="21"/>
    <add key="checkChecksMinute" value="33"/>
    <add key="isBypassWeekend" value="false"/>
    <add key="isSendEmailWhenChecksAreGenerated" value="True"/>
    <add key="isSendEmailWhenBackfeedFound" value="True"/>
    <add key="EnableSSL" value="true"/>
    <add key="isAutoStart" value="true"/>

  </appSettings>

  <connectionStrings>
    <add name="OdbcConnection1v1.0" connectionString="DRIVER={MySQL ODBC 5.1 Driver};SERVER=dbs1;DATABASE=claim;UID=root;PASSWORD=create1;OPTION=3"/>
    <add name="OdbcConnection1" connectionString="Driver={SQL Server Native Client 11.0};Server=jax-sql4w-prod;Database=claim;UID=root;Pwd=create1;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <MonitorEmails>
    <Monitor program="APBackFeedMonitor" description="AP Feedback Monitor Service">
      <emails primary="cmathis@fortegra.com" name="Carrol Monitor">
      </emails>
    </Monitor>

    <MonitorExceptions program="APBackFeedMonitor" description="AP Feedback Monitor Service Exceptions">
      <emails primary="cmathis@fortegra.com" name="Carrol Monitor">
        <add email="si@carrol1.com" name="Carrol Mathis External"/>
      </emails>
    </MonitorExceptions>

    <Support program="APBackFeedMonitor" description="AP Feedback Monitor Support">
      <emails primary="cmathis@4warranty.net" name="Carrol Support">
      </emails>
    </Support>

  </MonitorEmails>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-APFeedMonitor.txt"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>

      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>

    </root>
  </log4net>


  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="website@life-south.com">
        <network defaultCredentials="false" host="bl2prd0711.outlook.com" port="587" userName="webmail@life-south.com" password="mail@4WC"/>
      </smtp>
    </mailSettings>
    <!--  <mailSettings>
      <smtp deliveryMethod="Network" from="webmail@life-south.com">
        <network host="10.1.100.149" defaultCredentials="false" port="25" userName="webmail@life-south.com"  />
      </smtp>
    </mailSettings>
    -->
  </system.net>
</configuration>
